img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.btn:hover {
	background-color: #f26422;
}

.jumbotron	 {
	background-color: #ffc107; 
	opacity: 0.85;
}

.album {
	background-color: #ffc107;
	opacity: 0.87;
}

.splash-bg {
	  background-image: url("/assets/michal-kmet-257136-unsplash.jpg");
	  background-size:     cover;                     
	  background-repeat:   no-repeat;
	  background-position: center center; 
}

.regular-bg {
	  background-image: url("/assets/standard_back_ground");
	  background-size:     cover;                     
	  background-repeat:   no-repeat;
	  background-position: center center; 
}

.vassal_index_bg {
	  background-image: url("/assets/vassal_index_page.jpg");
	  background-size:     cover;                     
	  background-repeat:   no-repeat;
	  background-position: center center; 
}

.khanshow-bg {
 	background-image: url("/assets/khan_show_page.jpg");
	  background-size:     cover;                     
	  background-repeat:   no-repeat;
	  background-position: center center; 
}

.vassalshow-bg {
	background-image: url("/assets/hero_show.jpg");
	  background-size:     cover;                     
	  background-repeat:   no-repeat;
	  background-position: center center; 	
}

.adventure-bg {
	background-image: url("/assets/adventure.jpg");
	  background-size:     cover;                     
	  background-repeat:   no-repeat;
	  background-position: center center; 

}

.battleshow-bg {
	background-image: url("/assets/battle_plan");
	  background-size:     cover;                     
	  background-repeat:   no-repeat;
	  background-position: center center; 
}

.battlenew {
	background-image: url("/assets/battle_new");
	  background-size:     cover;                     
	  background-repeat:   no-repeat;
	  background-position: center center; 
}

body {
	font-family: 'MedievalSharp';
}

.center {
	text-align: center;
	font-size: 20px;
}

.background {

  border: 1px solid black;
}

.transbox {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.55;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

