// Place all the styles related to the Khans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body  {
/*  background-image: url("/assets/michal-kmet-257136-unsplash.jpg");
  background-size:     cover;                     
  background-repeat:   no-repeat;
  background-position: center center; 
*/}
